/* Write your CSS here */
.app-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.home-bg-dark {
  background-color: #000000;
  background-size: cover;
}

.home-bg-light {
  background-color: #ffffff;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 30vw;
  padding-top: 200px;
}

.home-image {
  height: 130px;
  width: 130px;
}

.home-heading {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 700;
}

.home-text-dark {
  color: #ffffff;
}
.home-text-light {
  color: #334155;
}
